In [1]:
import requests
import bs4
from bs4 import BeautifulSoup
import os
import csv

In [2]:
pages=[10,20,30,40,50,60,70,80,90,100,110,120,130,140,150,160,170,180,190,200,210,220,230,240,250,260,270,280,290,300,310,320,330,340,350,360,370,380,390,400,410,420,430,440,450,460,470,480,490,500,510,520,530,540,550,560,570,580,590,600,610,620,630,640,650,660,670,680,690,700,710,720,730,740,750,760,770,780,790,800,810,820,830,840,850,860,870,880,890,900,910,920,930,940,950,960,970,980,990,1000]


with open(r'C:\Users\Venka\OneDrive\Desktop\CMPE 256\individual project\job_data.csv','a',encoding='utf-8',newline='')as f_output:
    csv_print = csv.writer(f_output)
    
    file_is_empty = os.stat(r'C:\Users\Venka\OneDrive\Desktop\CMPE 256\individual project\job_data.csv').st_size==0
    if file_is_empty:
        csv_print.writerow(['Job_Title','Company','Location','Salary','Summary'])
        
    for page in pages:
        html = requests.get('https://www.indeed.com/jobs?q=software+engineer&start={}'.format(page)).text
        soup = BeautifulSoup(html, 'html.parser', from_encoding="utf-8")
        for each in soup.find_all(class_= "result" ):
            try: 
                title = each.find(class_='jobtitle').text.strip()
            except:
                title = 'None'
            try:
                location = each.find('span', class_='location').text.strip()
            except:
                location = 'None'
            try: 
                company = each.find('span', class_='company').text.strip()
            except:
                company = 'None'
            try:
                salary = each.find('span', class_='no-wrap').text
            except:
                salary = 'None'
                summary = each.find('div', {'class':'summary'}).text.strip()
                csv_print.writerow([title,company,location,salary,summary])

C:\Users\Venka\Downloads\Anaconda\lib\site-packages\bs4\__init__.py:177: UserWarning: You provided Unicode markup but also provided a value for from_encoding. Your from_encoding will be ignored.
  warnings.warn("You provided Unicode markup but also provided a value for from_encoding. Your from_encoding will be ignored.")

In [3]:
import pandas as pd

jobs=pd.read_csv(r'C:\Users\Venka\OneDrive\Desktop\CMPE 256\individual project\job_data.csv')
print(jobs.head())
jobs1=jobs

                      Job_Title    Company      Location Salary  \
0    Software Engineer, Quality     Paypal          None   None
1   Biller Integration Engineer     BillGO          None   None
2      Siri - Software Engineer      Apple          None   None
3  Software Engineer Instructor  Persevere          None   None
4      MTS 1, Software Engineer  eBay Inc.  San Jose, CA   None

                                             Summary
0  We're a purpose-driven company whose beliefs a...
1  We offer very competitive salaries and benefit...
2  Knowledge and experience in Java or C++. Creat...
3  Developing and delivering programs of learning...
4  We work very closely with the Product Manageme...

In [4]:
jobs1['words'] = jobs1.Summary.str.strip().str.split('[\W_]+')
jobs1.head()

,Job_Title,Company,Location,Salary,Summary,words
0,"Software Engineer, Quality",Paypal,None,None,We're a purpose-driven company whose beliefs a...,"[We, re, a, purpose, driven, company, whose, b..."
1,Biller Integration Engineer,BillGO,None,None,We offer very competitive salaries and benefit...,"[We, offer, very, competitive, salaries, and, ..."
2,Siri - Software Engineer,Apple,None,None,Knowledge and experience in Java or C++. Creat...,"[Knowledge, and, experience, in, Java, or, C, ..."
3,Software Engineer Instructor,Persevere,None,None,Developing and delivering programs of learning...,"[Developing, and, delivering, programs, of, le..."
4,"MTS 1, Software Engineer",eBay Inc.,"San Jose, CA",None,We work very closely with the Product Manageme...,"[We, work, very, closely, with, the, Product, ..."

In [5]:
jobs1.shape

(1477, 6)

In [6]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer(tokenizer=lambda doc: doc,lowercase=False,stop_words='english', use_idf = True,norm='l1')
Y = vectorizer.fit_transform(jobs1['words'])

C:\Users\Venka\Downloads\Anaconda\lib\site-packages\sklearn\feature_extraction\text.py:301: UserWarning: Your stop_words may be inconsistent with your preprocessing. Tokenizing the stop words generated tokens ['b', 'c', 'd', 'e', 'f', 'g', 'h', 'k', 'l', 'm', 'n', 'o', 'p', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y'] not in stop_words.
  'stop_words.' % sorted(inconsistent))

In [7]:
Y=pd.DataFrame(Y.toarray(),columns=vectorizer.get_feature_names())
print(Y)

                  0  000  0018         1   10       100  105   11   12  ...  \
0     0.014612  0.0  0.0   0.0  0.000000  0.0  0.000000  0.0  0.0  0.0  ...
1     0.012499  0.0  0.0   0.0  0.000000  0.0  0.000000  0.0  0.0  0.0  ...
2     0.012854  0.0  0.0   0.0  0.000000  0.0  0.000000  0.0  0.0  0.0  ...
3     0.009058  0.0  0.0   0.0  0.000000  0.0  0.000000  0.0  0.0  0.0  ...
4     0.012877  0.0  0.0   0.0  0.000000  0.0  0.000000  0.0  0.0  0.0  ...
5     0.009643  0.0  0.0   0.0  0.000000  0.0  0.069432  0.0  0.0  0.0  ...
6     0.011610  0.0  0.0   0.0  0.000000  0.0  0.000000  0.0  0.0  0.0  ...
7     0.010816  0.0  0.0   0.0  0.000000  0.0  0.000000  0.0  0.0  0.0  ...
8     0.013124  0.0  0.0   0.0  0.000000  0.0  0.000000  0.0  0.0  0.0  ...
9     0.012880  0.0  0.0   0.0  0.000000  0.0  0.000000  0.0  0.0  0.0  ...
10    0.012016  0.0  0.0   0.0  0.000000  0.0  0.000000  0.0  0.0  0.0  ...
11    0.008491  0.0  0.0   0.0  0.000000  0.0  0.000000  0.0  0.0  0.0  ...
12    0.019610  0.0  0.0   0.0  0.000000  0.0  0.000000  0.0  0.0  0.0  ...
13    0.011994  0.0  0.0   0.0  0.000000  0.0  0.000000  0.0  0.0  0.0  ...
14    0.016155  0.0  0.0   0.0  0.000000  0.0  0.000000  0.0  0.0  0.0  ...
15    0.014725  0.0  0.0   0.0  0.000000  0.0  0.000000  0.0  0.0  0.0  ...
16    0.019610  0.0  0.0   0.0  0.000000  0.0  0.000000  0.0  0.0  0.0  ...
17    0.014042  0.0  0.0   0.0  0.000000  0.0  0.000000  0.0  0.0  0.0  ...
18    0.016132  0.0  0.0   0.0  0.000000  0.0  0.000000  0.0  0.0  0.0  ...
19    0.013079  0.0  0.0   0.0  0.000000  0.0  0.000000  0.0  0.0  0.0  ...
20    0.010235  0.0  0.0   0.0  0.000000  0.0  0.000000  0.0  0.0  0.0  ...
21    0.011471  0.0  0.0   0.0  0.000000  0.0  0.000000  0.0  0.0  0.0  ...
22    0.010758  0.0  0.0   0.0  0.000000  0.0  0.000000  0.0  0.0  0.0  ...
23    0.008944  0.0  0.0   0.0  0.000000  0.0  0.000000  0.0  0.0  0.0  ...
24    0.016133  0.0  0.0   0.0  0.000000  0.0  0.000000  0.0  0.0  0.0  ...
25    0.009397  0.0  0.0   0.0  0.000000  0.0  0.000000  0.0  0.0  0.0  ...
26    0.012745  0.0  0.0   0.0  0.000000  0.0  0.000000  0.0  0.0  0.0  ...
27    0.019528  0.0  0.0   0.0  0.000000  0.0  0.000000  0.0  0.0  0.0  ...
28    0.008669  0.0  0.0   0.0  0.000000  0.0  0.000000  0.0  0.0  0.0  ...
29    0.012728  0.0  0.0   0.0  0.000000  0.0  0.000000  0.0  0.0  0.0  ...
...        ...  ...  ...   ...       ...  ...       ...  ...  ...  ...  ...
1447  0.012785  0.0  0.0   0.0  0.000000  0.0  0.000000  0.0  0.0  0.0  ...
1448  0.016733  0.0  0.0   0.0  0.000000  0.0  0.000000  0.0  0.0  0.0  ...
1449  0.012527  0.0  0.0   0.0  0.000000  0.0  0.000000  0.0  0.0  0.0  ...
1450  0.016021  0.0  0.0   0.0  0.000000  0.0  0.000000  0.0  0.0  0.0  ...
1451  0.016664  0.0  0.0   0.0  0.000000  0.0  0.000000  0.0  0.0  0.0  ...
1452  0.012891  0.0  0.0   0.0  0.000000  0.0  0.000000  0.0  0.0  0.0  ...
1453  0.015537  0.0  0.0   0.0  0.000000  0.0  0.000000  0.0  0.0  0.0  ...
1454  0.014148  0.0  0.0   0.0  0.000000  0.0  0.000000  0.0  0.0  0.0  ...
1455  0.016743  0.0  0.0   0.0  0.000000  0.0  0.000000  0.0  0.0  0.0  ...
1456  0.015605  0.0  0.0   0.0  0.000000  0.0  0.000000  0.0  0.0  0.0  ...
1457  0.011296  0.0  0.0   0.0  0.000000  0.0  0.000000  0.0  0.0  0.0  ...
1458  0.011285  0.0  0.0   0.0  0.000000  0.0  0.000000  0.0  0.0  0.0  ...
1459  0.014770  0.0  0.0   0.0  0.000000  0.0  0.000000  0.0  0.0  0.0  ...
1460  0.010423  0.0  0.0   0.0  0.055270  0.0  0.000000  0.0  0.0  0.0  ...
1461  0.009558  0.0  0.0   0.0  0.000000  0.0  0.000000  0.0  0.0  0.0  ...
1462  0.016553  0.0  0.0   0.0  0.000000  0.0  0.000000  0.0  0.0  0.0  ...
1463  0.015320  0.0  0.0   0.0  0.000000  0.0  0.000000  0.0  0.0  0.0  ...
1464  0.010799  0.0  0.0   0.0  0.000000  0.0  0.000000  0.0  0.0  0.0  ...
1465  0.016617  0.0  0.0   0.0  0.000000  0.0  0.000000  0.0  0.0  0.0  ...
1466  0.016664  0.0  0.0   0.0  0.000000  0.0  0.000000  0.0  0.0  0.0  ...
1467  0.012891  0.0  0.0   0.0  0.000000  0.0  0.000000  0.0  0.0  0.0  ...
1468  0.011731  0.0  0.0   0.0  0.000000  0.0  0.000000  0.0  0.0  0.0  ...
1469  0.015280  0.0  0.0   0.0  0.000000  0.0  0.000000  0.0  0.0  0.0  ...
1470  0.011975  0.0  0.0   0.0  0.000000  0.0  0.000000  0.0  0.0  0.0  ...
1471  0.011471  0.0  0.0   0.0  0.000000  0.0  0.000000  0.0  0.0  0.0  ...
1472  0.014102  0.0  0.0   0.0  0.000000  0.0  0.000000  0.0  0.0  0.0  ...
1473  0.018614  0.0  0.0   0.0  0.000000  0.0  0.000000  0.0  0.0  0.0  ...
1474  0.012151  0.0  0.0   0.0  0.000000  0.0  0.000000  0.0  0.0  0.0  ...
1475  0.015282  0.0  0.0   0.0  0.081037  0.0  0.000000  0.0  0.0  0.0  ...
1476  0.011834  0.0  0.0   0.0  0.000000  0.0  0.000000  0.0  0.0  0.0  ...

      writers   writing  written  www      year  yearn     years  yes  zakir  \
0         0.0  0.000000      0.0  0.0  0.000000    0.0  0.000000  0.0    0.0
1         0.0  0.000000      0.0  0.0  0.000000    0.0  0.000000  0.0    0.0
2         0.0  0.000000      0.0  0.0  0.000000    0.0  0.000000  0.0    0.0
3         0.0  0.000000      0.0  0.0  0.000000    0.0  0.000000  0.0    0.0
4         0.0  0.000000      0.0  0.0  0.000000    0.0  0.000000  0.0    0.0
5         0.0  0.000000      0.0  0.0  0.052153    0.0  0.000000  0.0    0.0
6         0.0  0.000000      0.0  0.0  0.000000    0.0  0.000000  0.0    0.0
7         0.0  0.000000      0.0  0.0  0.000000    0.0  0.000000  0.0    0.0
8         0.0  0.000000      0.0  0.0  0.000000    0.0  0.000000  0.0    0.0
9         0.0  0.000000      0.0  0.0  0.000000    0.0  0.000000  0.0    0.0
10        0.0  0.000000      0.0  0.0  0.000000    0.0  0.000000  0.0    0.0
11        0.0  0.000000      0.0  0.0  0.000000    0.0  0.000000  0.0    0.0
12        0.0  0.000000      0.0  0.0  0.000000    0.0  0.000000  0.0    0.0
13        0.0  0.000000      0.0  0.0  0.000000    0.0  0.000000  0.0    0.0
14        0.0  0.000000      0.0  0.0  0.000000    0.0  0.000000  0.0    0.0
15        0.0  0.000000      0.0  0.0  0.000000    0.0  0.000000  0.0    0.0
16        0.0  0.000000      0.0  0.0  0.000000    0.0  0.000000  0.0    0.0
17        0.0  0.000000      0.0  0.0  0.000000    0.0  0.000000  0.0    0.0
18        0.0  0.000000      0.0  0.0  0.000000    0.0  0.000000  0.0    0.0
19        0.0  0.000000      0.0  0.0  0.000000    0.0  0.000000  0.0    0.0
20        0.0  0.000000      0.0  0.0  0.000000    0.0  0.000000  0.0    0.0
21        0.0  0.000000      0.0  0.0  0.000000    0.0  0.000000  0.0    0.0
22        0.0  0.000000      0.0  0.0  0.000000    0.0  0.000000  0.0    0.0
23        0.0  0.000000      0.0  0.0  0.000000    0.0  0.033492  0.0    0.0
24        0.0  0.000000      0.0  0.0  0.000000    0.0  0.000000  0.0    0.0
25        0.0  0.045125      0.0  0.0  0.000000    0.0  0.000000  0.0    0.0
26        0.0  0.000000      0.0  0.0  0.000000    0.0  0.000000  0.0    0.0
27        0.0  0.000000      0.0  0.0  0.000000    0.0  0.000000  0.0    0.0
28        0.0  0.000000      0.0  0.0  0.000000    0.0  0.000000  0.0    0.0
29        0.0  0.000000      0.0  0.0  0.000000    0.0  0.000000  0.0    0.0
...       ...       ...      ...  ...       ...    ...       ...  ...    ...
1447      0.0  0.000000      0.0  0.0  0.000000    0.0  0.000000  0.0    0.0
1448      0.0  0.000000      0.0  0.0  0.000000    0.0  0.000000  0.0    0.0
1449      0.0  0.000000      0.0  0.0  0.000000    0.0  0.000000  0.0    0.0
1450      0.0  0.000000      0.0  0.0  0.000000    0.0  0.000000  0.0    0.0
1451      0.0  0.000000      0.0  0.0  0.000000    0.0  0.000000  0.0    0.0
1452      0.0  0.000000      0.0  0.0  0.000000    0.0  0.000000  0.0    0.0
1453      0.0  0.000000      0.0  0.0  0.000000    0.0  0.000000  0.0    0.0
1454      0.0  0.000000      0.0  0.0  0.000000    0.0  0.000000  0.0    0.0
1455      0.0  0.000000      0.0  0.0  0.000000    0.0  0.000000  0.0    0.0
1456      0.0  0.000000      0.0  0.0  0.000000    0.0  0.000000  0.0    0.0
1457      0.0  0.000000      0.0  0.0  0.000000    0.0  0.000000  0.0    0.0
1458      0.0  0.000000      0.0  0.0  0.000000    0.0  0.000000  0.0    0.0
1459      0.0  0.000000      0.0  0.0  0.000000    0.0  0.000000  0.0    0.0
1460      0.0  0.000000      0.0  0.0  0.056368    0.0  0.000000  0.0    0.0
1461      0.0  0.000000      0.0  0.0  0.000000    0.0  0.000000  0.0    0.0
1462      0.0  0.000000      0.0  0.0  0.000000    0.0  0.000000  0.0    0.0
1463      0.0  0.000000      0.0  0.0  0.000000    0.0  0.000000  0.0    0.0
1464      0.0  0.000000      0.0  0.0  0.000000    0.0  0.000000  0.0    0.0
1465      0.0  0.000000      0.0  0.0  0.000000    0.0  0.000000  0.0    0.0
1466      0.0  0.000000      0.0  0.0  0.000000    0.0  0.000000  0.0    0.0
1467      0.0  0.000000      0.0  0.0  0.000000    0.0  0.000000  0.0    0.0
1468      0.0  0.000000      0.0  0.0  0.000000    0.0  0.000000  0.0    0.0
1469      0.0  0.000000      0.0  0.0  0.000000    0.0  0.000000  0.0    0.0
1470      0.0  0.000000      0.0  0.0  0.000000    0.0  0.000000  0.0    0.0
1471      0.0  0.000000      0.0  0.0  0.000000    0.0  0.000000  0.0    0.0
1472      0.0  0.000000      0.0  0.0  0.000000    0.0  0.000000  0.0    0.0
1473      0.0  0.000000      0.0  0.0  0.000000    0.0  0.000000  0.0    0.0
1474      0.0  0.000000      0.0  0.0  0.065712    0.0  0.000000  0.0    0.0
1475      0.0  0.000000      0.0  0.0  0.082647    0.0  0.000000  0.0    0.0
1476      0.0  0.000000      0.0  0.0  0.000000    0.0  0.000000  0.0    0.0

      zero
0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
5      0.0
6      0.0
7      0.0
8      0.0
9      0.0
10     0.0
11     0.0
12     0.0
13     0.0
14     0.0
15     0.0
16     0.0
17     0.0
18     0.0
19     0.0
20     0.0
21     0.0
22     0.0
23     0.0
24     0.0
25     0.0
26     0.0
27     0.0
28     0.0
29     0.0
...    ...
1447   0.0
1448   0.0
1449   0.0
1450   0.0
1451   0.0
1452   0.0
1453   0.0
1454   0.0
1455   0.0
1456   0.0
1457   0.0
1458   0.0
1459   0.0
1460   0.0
1461   0.0
1462   0.0
1463   0.0
1464   0.0
1465   0.0
1466   0.0
1467   0.0
1468   0.0
1469   0.0
1470   0.0
1471   0.0
1472   0.0
1473   0.0
1474   0.0
1475   0.0
1476   0.0

[1477 rows x 3294 columns]

In [8]:
skillset= 'java python javascript C++ C R'

skills=skillset.split(' ')
print(skills)

['java', 'python', 'javascript', 'C++', 'C', 'R']

In [9]:
X = vectorizer.transform(skills)

In [10]:
X=pd.DataFrame(X.toarray(),columns=vectorizer.get_feature_names())
print(X)

          0  000  0018    1   10  100  105   11   12  ...  writers  writing  \
0  0.0  0.0  0.0   0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...      0.0      0.0
1  0.0  0.0  0.0   0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...      0.0      0.0
2  0.0  0.0  0.0   0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...      0.0      0.0
3  0.0  0.0  0.0   0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...      0.0      0.0
4  0.0  0.0  0.0   0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...      0.0      0.0
5  0.0  0.0  0.0   0.0  0.0  0.0  0.0  0.0  0.0  0.0  ...      0.0      0.0

   written  www  year  yearn  years  yes  zakir  zero
0      0.0  0.0   0.0    0.0    0.0  0.0    0.0   0.0
1      0.0  0.0   0.0    0.0    0.0  0.0    0.0   0.0
2      0.0  0.0   0.0    0.0    0.0  0.0    0.0   0.0
3      0.0  0.0   0.0    0.0    0.0  0.0    0.0   0.0
4      0.0  0.0   0.0    0.0    0.0  0.0    0.0   0.0
5      0.0  0.0   0.0    0.0    0.0  0.0    0.0   0.0

[6 rows x 3294 columns]

In [11]:
from sklearn.metrics.pairwise import cosine_similarity
similarity = (cosine_similarity(X, Y))
similarity.shape

(6, 1477)

In [12]:
print(similarity)

[[0.         0.         0.         ... 0.         0.         0.        ]
 [0.         0.         0.         ... 0.         0.         0.        ]
 [0.         0.         0.         ... 0.         0.         0.        ]
 [0.         0.         0.15456465 ... 0.         0.         0.14545511]
 [0.         0.         0.15456465 ... 0.         0.         0.14545511]
 [0.         0.         0.         ... 0.         0.         0.        ]]

In [13]:
def find_similar(tfidf_matrix, index, top_n):
    cosine_similarities = cosine_similarity(Y, tfidf_matrix).flatten()
    related_docs_indices = [i for i in cosine_similarities.argsort()[::-1] if i != index]
    return [(index, cosine_similarities[index]) for index in related_docs_indices][0:top_n]

In [14]:
num = 10
rec_jobs= find_similar(X, 1, num)

In [15]:
jobs=pd.read_csv(r'C:\Users\Venka\OneDrive\Desktop\CMPE 256\individual project\job_data.csv')

In [16]:
for i in range(0,num):
    mn=rec_jobs[i][0]%1537
    print(jobs.loc[mn])
    print('-------------------------------------------------------------------------------')

Job_Title                          Biller Integration Engineer
Company                                                 BillGO
Location                                                  None
Salary                                                    None
Summary      We offer very competitive salaries and benefit...
Name: 933, dtype: object
-------------------------------------------------------------------------------
Job_Title                             Software Safety Engineer
Company                                     APT Research, Inc.
Location                                                  None
Salary                                                    None
Summary      Individual will assist the government in ident...
Name: 934, dtype: object
-------------------------------------------------------------------------------
Job_Title                       Software Engineer (All Levels)
Company                                        MANTICORE GAMES
Location                                         San Mateo, CA
Salary                                                    None
Summary      We are looking for a Software Engineer at all ...
Name: 497, dtype: object
-------------------------------------------------------------------------------
Job_Title              Software Intern, Robotics - Summer 2020
Company                                                 NVIDIA
Location                                 Santa Clara, CA 95050
Salary                                                    None
Summary      Contribute broadly to advance the capabilities...
Name: 498, dtype: object
-------------------------------------------------------------------------------
Job_Title                           Senior Full Stack Engineer
Company                                                Netflix
Location                                   Los Gatos, CA 95032
Salary                                                    None
Summary      You are able to go from a single sentence, â€œWe...
Name: 757, dtype: object
-------------------------------------------------------------------------------
Job_Title                        Application Software Engineer
Company                                                 Micron
Location                                             Boise, ID
Salary                                                    None
Summary      You will work as part of the Applications Soft...
Name: 756, dtype: object
-------------------------------------------------------------------------------
Job_Title                                    Software Engineer
Company                                      Strategic America
Location                                                  None
Salary                                                    None
Summary      The Software Engineer II associate functions a...
Name: 838, dtype: object
-------------------------------------------------------------------------------
Job_Title             Software Engineer - Back-end Development
Company                                                 Tynker
Location                                                  None
Salary                                                    None
Summary      Our learning platform delivers courses that te...
Name: 837, dtype: object
-------------------------------------------------------------------------------
Job_Title                           Robotics Software Engineer
Company                                Top Flight Technologies
Location                                                  None
Salary                                                    None
Summary      Develop firmware and embedded software in C/C+...
Name: 506, dtype: object
-------------------------------------------------------------------------------
Job_Title                   Sr. Software Engineer - ColdFusion
Company                                          Clear Capital
Location                                                  None
Salary                                                    None
Summary      Disrupt the Real Estate data industry by bring...
Name: 505, dtype: object
-------------------------------------------------------------------------------